<!DOCTYPE html>
<html>
    <head>
        <title>Search Result</title>
    </head>
    <body>
        <a href='http://localhost:8080/'>'Return to Home' </a>
        <div>
            <table>
                <tr>
                    <th>AIRPORT CODE/NAME</th>
                    <th>STATE</th>
                    <th>COUNTRY</th>
                    <th>CITY</th>
                </tr>
                <tr>
                    <td><%=ap_name%></td>
                    <td><%=state%></td>
                    <td><%=country%></td>
                    <td><%=city%></td>
                </tr>
            </table>
        </div>
    </body>
</html>